set pages-per-row 1
set incremental-search
set window-title-basename true

set recolor-darkcolor "#eeeeec"
set recolor-lightcolor "#262B2C"
set default-bg "{{Background1}}

set statusbar-bg "{{Primary}}"
set statusbar-fg "{{OnPrimary}}"
set inputbar-bg "{{Secondary}}"
set inputbar-fg "{{OnSecondary}}"

map <Space> navigate next
map <S-Space> navigate previous
