[general]
live_config_reload = true

[bell]
animation = "EaseOutExpo"
duration = 300

[font]
size = 8

[font.normal]
family = "IosevkaTermNerdFont"

[scrolling]
history = 0

[selection]
semantic_escape_chars = ",│`|:\"' ()[]{}<>"

[terminal.shell]
args = ["new", "-A"]
program = "tmux"

[window]
decorations = "none"

[window.padding]
x = 0
y = 0

# Default colors
[colors.primary]
background = '{{Background1}}'
foreground = '{{OnBackground1}}'

[colors.cursor]
text = '{{OnPrimary}}'
cursor = '{{Primary}}'

# Normal colors
[colors.normal]
black   = '{{Black}}'
red     = '{{Red}}'
green   = '{{Green}}'
yellow  = '{{Yellow}}'
blue    = '{{Blue}}'
magenta = '{{Magenta}}'
cyan    = '{{Cyan}}'
white   = '{{White}}'

# Bright colors
[colors.bright]
black   = '{{BlackBright}}'
red     = '{{RedBright}}'
green   = '{{GreenBright}}'
yellow  = '{{YellowBright}}'
blue    = '{{BlueBright}}'
magenta = '{{MagentaBright}}'
cyan    = '{{CyanBright}}'
white   = '{{WhiteBright}}'
