if not set -q SSH_AUTH_SOCK
  eval (ssh-agent -c)
end

set PATH ~/projekte/dotfiles/scripts $PATH
set PATH ~/projekte/dotfiles/links $PATH
set PATH ~/.local/bin $PATH

# Ruby version manager
if [ -d ~/.rvm/bin ]
   set PATH ~/.rvm/bin $PATH
end

# Powerline: Needs to have: pip install powerline-status
set EDITOR "emacsclient --no-wait"

alias t trash
alias l "ls -lh --group-directories-first"
alias ll "ls -lha --group-directories-first"

set --global tide_left_prompt_items pwd git

set --global tide_prompt_color_frame_and_connection "{{OnBackground2}}"
set --global tide_prompt_color_separator_same_color "{{OnBackground2}}"

set --global tide_git_bg_color          "{{Background2}}"
set --global tide_git_bg_color_unstable "{{Background2}}"
set --global tide_git_bg_color_urgent   "{{Warning}}"
set --global tide_git_color_branch      "{{Green}}"
set --global tide_git_color_conflicted  "{{Error}}"
set --global tide_git_color_dirty       "{{Warning}}"
set --global tide_git_color_operation   "{{OnBackground1}}"
set --global tide_git_color_staged      "{{OnBackground1}}"
set --global tide_git_color_stash       "{{OnBackground1}}"
set --global tide_git_color_untracked   "{{OnBackground1}}"
set --global tide_git_color_upstream    "{{OnBackground1}}"

set --global tide_pwd_color                "{{OnBackground2}}"
set --global tide_pwd_bg_color             "{{Background2}}"
set --global tide_pwd_color_anchors        "{{OnBackground2}}"
set --global tide_pwd_color_dirs           "{{OnBackground2}}"
set --global tide_pwd_color_truncated_dirs "{{OnBackground2}}"

