# Install fundle if not there
#if not functions -q fundle; eval (curl -sfL https://git.io/fundle-install); end
#if not functions -q fisher; eval (curl -sL https://raw.githubusercontent.com/jorgebucaran/fisher/main/functions/fisher.fish | source && fisher install jorgebucaran/fisher); end
#fisher install IlanCosman/tide@v6
#fisher install danhper/fish-ssh-agent

set PATH ~/projekte/dotfiles/scripts $PATH
set PATH ~/projekte/dotfiles/links $PATH
set PATH ~/.local/bin $PATH

# Ruby version manager
if [ -d ~/.rvm/bin ]
   set PATH ~/.rvm/bin $PATH
end

# Powerline: Needs to have: pip install powerline-status

set EDITOR "emacsclient --no-wait"

alias t trash
alias l "ls -lh --group-directories-first"
alias ll "ls -lha --group-directories-first"

set --global tide_left_prompt_items pwd git

set --global tide_prompt_color_frame_and_connection "{{OnBackground2}}"
set --global tide_prompt_color_separator_same_color "{{OnBackground2}}"


set --global tide_git_bg_color "{{Background2}}"
set --global tide_git_bg_color_unstable "{{Background2}}"
set --global tide_git_bg_color_urgent "{{Background2}}"

set --global tide_pwd_color "{{OnBackground2}}"
set --global tide_pwd_bg_color "{{Background2}}"
set --global tide_pwd_color_anchors "{{OnBackground2}}"
set --global tide_pwd_color_dirs "{{OnBackground2}}"
set --global tide_pwd_color_truncated_dirs "{{OnBackground2}}"

